<h1>Register</h1>

<div class="container" id="register" ng-controller="registerCtrl">
	<form name="registrationForm" ng-submit="registerUser(user, registrationForm.$valid)" novalidate>
		<!-- NAME -->
		<div class="form-group" ng-class="{ 'has-error' : registrationForm.name.$invalid && !registrationForm.name.$pristine }">
			<label>Name*</label>
			<input type="text" name="name" class="form-control" ng-model="user.name" required>
			<p ng-show="registrationForm.name.$invalid && !registrationForm.name.$pristine" class="help-block">You name is required.</p>
		</div>

		<!-- USERNAME -->
		<div class="form-group" ng-class="{ 'has-error' : registrationForm.username.$invalid && !registrationForm.username.$pristine }">
			<label>Username</label>
			<input type="text" name="username" class="form-control" ng-model="user.username" ng-minlength="3" ng-maxlength="8">
			<p ng-show="registrationForm.username.$error.minlength" class="help-block">Username is too short.</p>
			<p ng-show="registrationForm.username.$error.maxlength" class="help-block">Username is too long.</p>
		</div>

		<!-- EMAIL -->
		<div class="form-group" ng-class="{ 'has-error' : registrationForm.email.$invalid && !registrationForm.email.$pristine }">
			<label>Email</label>
			<input type="email" name="email" class="form-control" ng-model="user.email">
			<p ng-show="registrationForm.email.$invalid && !registrationForm.email.$pristine" class="help-block">Enter a valid email.</p>
		</div>

		<button type="submit" class="btn btn-primary">Submit</button>

	</form>
</div>
